<div id="update-route" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">Actualizar evento Ruta</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-2">
                            <select id="responsable" class="form-select" [(ngModel)]="ruta">
                                <option value="">Seleccionar ruta</option>
                                <option *ngFor="let ruta of rutas" [value]="ruta.Id">{{ ruta.Name }}</option>
                            </select>
                            <label for="responsable">Rutas</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-2">
                            <select id="grupo" class="form-select" [(ngModel)]="grupo">
                                <option value="">Selecciona el grupo</option>
                                <option *ngFor="let grupo of grupos" [value]="grupo.Hierarchy">{{ grupo.Management }}</option>
                            </select>
                            <label for="grupo">Grupo</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-2">
                            <select id="dispositivo" class="form-select" [(ngModel)]="dispositivo">
                                <option value="">Selecciona dispositivo</option>
                                <option *ngFor="let dispositivo of dispositivos | filterAnalitic: grupo" [value]="dispositivo.IdDevice">{{ (dispositivo.Name) ? dispositivo.Name : dispositivo.IdDevice }}</option>
                            </select>
                            <label for="dispositivo">Dispositivo</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="datetime-local" id="fecha_inicio" class="form-control" [(ngModel)]="fecha_inicio">
                            <label for="fecha_inicio">Inicio</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="datetime-local" id="fecha_fin" class="form-control" [(ngModel)]="fecha_fin">
                            <label for="fecha_fin">Fin</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-2">
                            <textarea id="notas" class="form-control" [(ngModel)]="notas"></textarea>
                            <label for="notas">Notas</label>
                        </div>  
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-2">
                            <select id="repeticion" class="form-select" [(ngModel)]="repeticion">
                                <option value="Unica">No se repite</option>
                                <option value="Semanal">Cada semana</option>
                            </select>
                            <label for="repeticion">Repetición Evento</label>
                        </div>
                    </div>
                </div> -->

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="eliminarEvento()" data-bs-dismiss="modal">Eliminar</button>
                <button type="button" (click)="actualizarEvento()" data-bs-dismiss="modal" class="btn btn-primary">Actualizar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->