<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-orange btn-sm mt-3" [routerLink]="['/configuration/geocercas']">
                <i class="fas fa-chevron-left"></i> {{"VOLVER" | translate}}
            </a>
            <h1>{{"DESVINCULAR_GEOCERCA" | translate}}{{ nombreGeocerca }}</h1>
            <div class="text-right">
                <button class="btn btn-danger btn-sm mb-3" (click)="desvincular()">
                    <i class="fas fa-unlink"></i> 
                    {{"DESVINCULAR" | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>{{"DISPOSITIVOS" | translate}}</h3>
            <div class="row">
                <div class="col-md-3" *ngFor="let itemDevice of dispositivosGeocerca; let in = index;">
                    <div class="form-group form-check">
                        <input type="checkbox" [(ngModel)]="dispositivosGeocerca[in].checked" class="form-check-input" [attr.id]="'exampleCheck'+in" [value]="itemDevice.Id">
                        <label class="form-check-label" [attr.for]="'exampleCheck'+in">{{ itemDevice.Name }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>