<div class="modal fade" id="modalAgregarVersion" tabindex="-1" aria-labelledby="filtroEstatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtroEstatusModalLabel">{{"NUEVA_VERSION" | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="inputPoliza">{{"VERSION" | translate}}</label>
                        <input type="text" class="form-control" id="inputPoliza" [(ngModel)]="version">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"CERRAR" | translate}}</button>
                <button type="button" class="btn btn-orange" data-dismiss="modal" (click)="agregarVersion()">{{"AGREGAR" | translate}}</button>
            </div>
        </div>
    </div>
</div>
