


<div id="tooltip-container2">

  <div class="cleanMap">
    <button type="button" (click)="limpiarFiltros()" class="btn btn-danger btn-sm" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" title="Limpiar el mapa">
      <i class="mdi mdi-monitor-clean"></i>
    </button>
  </div>
  <!-- <button type="button" class="btn btn-info" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">Tooltip on top</button>
  <button type="button" class="btn btn-info" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
  <button type="button" class="btn btn-info" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">Tooltip on left</button>
  <button type="button" class="btn btn-info" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">Tooltip on right</button> -->
</div>