<div class="container-fluid">
  <div class="row mt-3">

    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item"  role="presentation">
          <a class="nav-link"  id="puntosInteres-tab" [routerLink]="['/mantenimiento/inspecciones']" routerLinkActive="active">
            {{"INSPECCIONES" | translate}} <strong>{{ "BETA" | translate }}</strong>

          </a>
        </li>
        <li class="nav-item"  role="presentation">
          <a class="nav-link"  id="puntosInteres-tab" [routerLink]="['/mantenimiento/ordenes']" routerLinkActive="active">
            {{"ORDEN_DE_TRABAJO" | translate}} <strong>{{ "BETA" | translate }}</strong>
          </a>

        </li>
      </ul>
    </div>
  </div>
</div>
