


<div class="card tilebox-one">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h6 class="text-uppercase mt-0">Fecha Inicio</h6>
        <h5 class="my-2" id="active-users-count">{{ startDate | notext }}</h5>
      </div>
      <div class="col-md-6">
        <h6 class="text-uppercase mt-0">Fecha Fin</h6>
        <h5 class="my-2" id="active-users-count">{{ endDate | notext }}</h5>
      </div>
    </div>
  </div>
</div>
<div class="card tilebox-one">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/start2.png" >
        <h6 class="text-uppercase mt-0">Inicio</h6>
        <h5 class="my-2" id="active-users-count">{{ startingPoint | notext }}</h5>
      </div>
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/finish.png" >
        <h6 class="text-uppercase mt-0">Fin</h6>
        <h5 class="my-2" id="active-users-count">{{ finalPoint | notext }}</h5>
      </div>
    </div>
  </div>
</div>

<div class="card tilebox-one">
  <div class="card-body">

    <div class="row">
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/vehicle.png" >
        <h6 class="text-uppercase mt-0">Vehiculo</h6>
        <h5 class="my-2" id="active-users-count">{{ nombre | notext }}</h5>
      </div>
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/Responsable.png" >
        <h6 class="text-uppercase mt-0">Responsable</h6>
        <h5 class="my-2" id="active-users-count">{{ responsible | notext }}</h5>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/DISTANCIA.png" >
        <h6 class="text-uppercase mt-0">Distancia</h6>
        <h5 class="my-2" id="active-users-count">{{ distance | notext }}</h5>
      </div>
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/TIEMPO.png" >
        <h6 class="text-uppercase mt-0">Tiempo</h6>
        <h5 class="my-2" id="active-users-count">{{ time | notext }}</h5>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/GAS.png" >
        <h6 class="text-uppercase mt-0">Combustible</h6>
        <h5 class="my-2" id="active-users-count">{{ fuel | notext }}</h5>
      </div>
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/aceleration.png" >
        <h6 class="text-uppercase mt-0">Aceleración</h6>
        <h5 class="my-2" id="active-users-count">{{ aceleration | notext }}</h5>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/frenado.png" >
        <h6 class="text-uppercase mt-0">Frenado</h6>
        <h5 class="my-2" id="active-users-count">{{ braking | notext }}</h5>
      </div>
      <div class="col-md-6">
        <img style="width: 30px" class="float-end" src="assets/images/map/Excesos.png" >
        <h6 class="text-uppercase mt-0">Excesos</h6>
        <h5 class="my-2" id="active-users-count">{{ speed | notext }}</h5>
      </div>
    </div>


  </div>
</div>


