
<div class="row">
    <div class="col-md-3">
        <div class="form-floating mb-3">
            <input [(ngModel)]="name" type="email" class="form-control" id="floatingInput" placeholder="Nombre" />
            <label for="floatingInput">Nombre de la Geocerca</label>
        </div>
        <div class="form-floating mb-3">
            <select  [(ngModel)]="grupo" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option value="">Grupo</option>
                <option *ngFor="let item of gruposList" [value]="item.Hierarchy">{{ item.Management }}</option>
            </select>
            <label for="floatingSelectGrid">Selecciona el grupo</label>
        </div>
        <div class="form-floating mb-3">
            <textarea [(ngModel)]="descripcion" class="form-control" placeholder="Descripción" id="floatingTextarea" style="height: 100px;"></textarea>
            <label for="floatingTextarea">Descripción</label>
        </div>
        <div class="form-floating mb-3">
            <select [(ngModel)]="estatus" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option value="true">Activa</option>
                <option value="false">Inactiva</option>
            </select>
            <label for="floatingSelectGrid">Estatus de la geocerca</label>
        </div>
        <div class="d-flex">
            <button style="margin-right: 7px;" (click)="registrarGeocerca()" class="btn btn-success">Registrar</button>
            <button class="btn btn-info" [routerLink]="['/geofences/list']" >Volver</button>
        </div>
    </div>
    <div class="col-md-9">
        <agm-map 
            [latitude]="center.lat" 
            [longitude]="center.lng"
            [styles]="style" 
            (mapReady)="onMapReady($event)">
        </agm-map>
    </div>
</div>
