<app-movilidad></app-movilidad>
<div class="container">

  <div class="row mt-3">
    <div class="col-md-12 text-right">
        <button class="btn btn-primary mr-2" (click)="eventsResponsables()" >Eventos Responsable</button>
        <button class="btn btn-success" (click)="eventsRoutes()" >Eventos Ruta</button>
    </div>
  </div>
  <div class="row">

      <div class="col-md-12 mt-4 mb-4">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
      </div>
  </div>
</div>
