<div class="modal fade" id="modalActualizarParametro" tabindex="-1" aria-labelledby="modalActualizarParametroLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtroEstatusModalLabel">{{"MODIFICAR_PARAMETRO" | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">                        
                        <label for="inputParametro">{{desc}}</label>
                        <input type="text"  class="form-control" [(ngModel)]="valor" id="inputParametro">
                        <p *ngIf="!input">{{"HRS_MIN_SEG" | translate}}</p>
                        <!-- <input type="text"  class="form-control" [(ngModel)]="valor" id="inputPoliza"> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"CERRAR" | translate}}</button>
                <button type="button" class="btn btn-orange" data-dismiss="modal" (click)="actualizarParametro()">{{"ACTUALIZAR" | translate}}</button>
            </div>
        </div>
    </div>
</div>
