
<div id="options-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="multiple-oneModalLabel">Selecciona una opción</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary w-100" data-bs-target="#eventRes-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Evento Responable</button>
                        
                    </div>
                </div>

                <div class="row justify-content-cente mt-2">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary w-100" data-bs-target="#eventRoute-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Evento ruta</button>
                    </div>
                </div>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
