<div class="modal fade" id="modalUpdateDeviceInfo" tabindex="-1" aria-labelledby="modalUpdateDeviceInfo" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{"ACTUALIZAR_INFORMACION_DEVICE" | translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6">

                      <div class="form-group">
                          <label>{{"ID_DISPOSITIVO" | translate}}</label>
                          <input type="text" class="form-control" [(ngModel)]="device" readonly>
                      </div>
                      <div class="form-group">
                          <label for="inputName">{{"TIPO" | translate}}</label>
                          <select class="form-control" [(ngModel)]="typeId">
                            <option *ngFor="let typeDevice of typesDevice" [value]="typeDevice.idTypeDevice">{{ typeDevice.Name }}</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="inputVIN">{{"RED" | translate}}</label>
                          <select class="form-control" [(ngModel)]="redId">
                            <option *ngFor="let red of reds" [value]="red.Id">{{ red.Description }}</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="inputPoliza">{{"COMUNICACION" | translate}}</label>
                          <select class="form-control" [(ngModel)]="timeId">
                            <option *ngFor="let time of times" [value]="time.Id">{{ time.Description }}</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">


                    <div class="form-group">
                      <label for="inputPlacas">{{"MODELO" | translate}}</label>
                      <input type="text" class="form-control" id="inputModel" [(ngModel)]="model">
                    </div>

                    <div class="form-check">
                      <input [(ngModel)]="bateryIf" class="form-check-input" type="checkbox">
                      <label class="form-check-label" for="flexCheckDefault">
                        Bateria
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input [(ngModel)]="motorizedIf" class="form-check-input" type="checkbox">
                      <label class="form-check-label" for="flexCheckDefault">
                        Motorizado
                      </label>
                    </div>


                    <div class="form-group">
                      <label for="inputMarca">Duración de bateria</label>
                      <input type="text" class="form-control" [(ngModel)]="bateryDuration" [disabled]="!bateryIf">
                    </div>
                    <div class="form-group">
                      <label for="inputMarca">Rendimiento</label>
                      <input type="number" class="form-control" [(ngModel)]="performance" [disabled]="!motorizedIf">
                    </div>
                  </div>
              </div>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-orange" (click)="actualizarInfoDispositivo()" data-dismiss="modal">{{"ACTUALIZAR" | translate}}</button>
          </div>
      </div>
  </div>
</div>
