<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-administracion-menu-lg></app-administracion-menu-lg>
    </div>
    <div class="col-md-9">
      <app-filtrado-fechas [section]="'3'" (data)="rutas = $event"></app-filtrado-fechas>
      <div class="row mt-4">
        <div class="col-md-12">
          <table class="table table-striped" >
            <thead>
              <tr>
                <th>Distancia</th>
                <th>Diferencia</th>
                <th>Fecha</th>
                <th>Viajes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ruta of rutas" >
                <td>{{ruta.Distance}}</td>
                <td>{{ruta.Seconds}}</td>
                <td>{{ruta.Date}}</td>
                <td>{{ruta.Travel}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
