
<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-2">
            <input placeholder="contra" [class.is-invalid]="error" [(ngModel)]="contraseniaActual" type="password" class="form-control">
            <div class="invalid-feedback">
                Campo necesario
            </div>
            <label>Contraseña actual</label>
        </div>
        <div class="form-floating mb-2">
            <input placeholder="contra" [class.is-invalid]="error" [(ngModel)]="contrasenia1" type="password" class="form-control">
            <div class="invalid-feedback">
                Campo necesario
            </div>
            <label>Nueva contraseña</label>
        </div>
        <div class="form-floating mb-2">
            <input placeholder="contra" [class.is-invalid]="error" [(ngModel)]="contrasenia2" type="password" class="form-control">
            <div class="invalid-feedback">
                Campo necesario
            </div>
            <label>Repite la nueva contraseña</label>
        </div>

        <button class="btn btn-info" (click)="actualizarContrasenia()">Actualizar</button>

    </div>
</div>
