

<div class="row">
    <div class="col-md-6">

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="inputRuta" [placeholder]="'NOMBRE_PUNTO_INTERES'" [(ngModel)]="name">
            <label for="inputRuta">Nombre</label>
        </div>
        <div class="form-floating mb-2">
            <textarea class="form-control" id="descripcionRuta" rows="4" [placeholder]="'DESCRIPCION_PUNTO_INTERES'" [(ngModel)]="description"></textarea>
            <label for="descripcionRuta">Descripción</label>
        </div>
        <div class="d-flex">
           <button (click)="actualizarPunto()" class="btn btn-success" style="margin-right: 7px;">{{title}}</button>      
           <button [routerLink]="'/mobility/points-interest'" class="btn btn-info">Volver</button>          
        </div>
    </div>
    <div class="col-md-6">
        <agm-map
            [latitude]="center.lat"
            [longitude]="center.lng"
            (mapReady)="onMapReady($event)">
        </agm-map>
    </div>
</div>

