<!-- <app-mantenimiento></app-mantenimiento> -->
<div class="container">

  <button class="btn btn-danger mt-4" [routerLink]="'/mantenimiento/inspecciones'">Cancelar</button>
  <!-- Datos de la inspección -->
  <div class="row mt-3">
    <!-- <div class="col-md-3">
      <p>Fecha</p>
      <input type="date" placeholder="Inicio"  class="form-control" [(ngModel)]="fechaInicio">
    </div> -->

    <div class="col-md-3">
      <p>Mecánico</p>
      <select class="form-control" [(ngModel)]="mechanic" >
        <option value="">{{"SELECCIONA_MECANICO" | translate}}</option>
        <option *ngFor="let value of mechanics" [value]="value.IdMechanics">
          {{ value.FullName }}
        </option>
      </select>
    </div>

    <div class="col-md-3">
      <p>Tipo de Inspección</p>
      <select class="form-control" [(ngModel)]="tipeInspect" >
        <option value=0 selected>{{"SELECCIONA_TIPO" | translate}}</option>
        <option value=1>Programada</option>
        <option value=2>Extraodinaria</option>
      </select>
    </div>

    <div  class="col-md-3" >
      <p>Grupo</p>
      <select class="form-control" [(ngModel)]="compani" (change)="getDevices(compani)">
        <option value="">{{"BUSCAR_GRUPO" | translate}}</option>
        <option *ngFor="let subempresa of subempresas" [value]="subempresa.Hierarchy">{{ subempresa.Management }}</option>
      </select>
    </div>


  </div>

  <div class="row mt-3">

    <div class="col-md-4">
      <p>Vehiculo</p>
      <select class="form-control"  (change)="getResponsible(vehiculo)"  [(ngModel)]="vehiculo" >
        <option value="">{{"BUSCAR_VEHICULO" | translate}}</option>
        <option *ngFor="let spider of spiderMarkers" [value]="spider.Device">
          {{ spider.Name }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <p>Kilometraje</p>
      <input type="number"  [(ngModel)]="kilometraje"  class="form-control" >
    </div>

    <div class="col-md-4">
      <p>Responsable</p>
      <input type="text" disabled [(ngModel)]="responsable"  class="form-control">
    </div>
  </div>

  <!-- Tabla para realizar la inspección -->
  <div class="row mt-3">
    <div class="col-12">


      <table *ngFor="let plantilla of plantilla; let iP = index " class="table table-bordered">
        <thead>
          <tr>
            <th colspan="1"  scope="col"></th>
            <th colspan="2"  scope="col">Existe</th>
            <th colspan="3"   scope="col">Estado</th>
            <th colspan="1"  scope="col"></th>
          </tr>

          <tr>
            <th rowspan="3" scope="col" class="w250">Template</th>
            <th  rowspan="3" class="w20">Si</th>
            <th  rowspan="3" class="w20">No</th>
            <th  rowspan="3" class="w20">Bueno</th>
            <th  rowspan="3" class="w20">Regular</th>
            <th  rowspan="3" class="w20">Malo</th>
            <th rowspan="3" scope="col">Observaciones</th>
          </tr>

        </thead>

        <tbody>
          <tr><th>{{plantilla.Encabezado}}</th></tr>

          <tr *ngFor="let template of plantilla.Templates; let iT = index">


            <td>{{template.template}}</td>
            <td>
              <div class="form-check">
                <input
                    (change)="generateData(template.idTemplate, 'yes', $event.isTrusted, iP, iT )"
                    ng-checked = "check($event.isTrusted)"
                    class="form-check-input"
                    type="radio"
                    name="existeChecksGroup{{template.idTemplate}}"
                    id="existeCheck{{template.idTemplate}}"
                    [value]="template.yes" >
              </div>
            </td>

            <td>
              <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="existeChecksGroup{{template.idTemplate}}"
                    (change)="generateData(template.idTemplate,'no', $event.isTrusted, iP, iT  )"
                    id="existeCheck{{template.idTemplate}}"
                    [value]="template.no">
              </div>
            </td>
            <td>
              <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="estacoCheckGroup{{template.idTemplate}}"
                    id="estadoCheck{{template.idTemplate}}"
                    [value]="template.Good"
                    (change)="generateData(template.idTemplate,'Good', $event.isTrusted,  iP, iT  )">

              </div>
            </td>
            <td>
              <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="estacoCheckGroup{{template.idTemplate}}"
                    id="estadoCheck{{template.idTemplate}}"
                    [value]="template.Regular"
                    (change)="generateData(template.idTemplate,'Regular',$event.isTrusted, iP, iT  )">
              </div>
            </td>
            <td>
              <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="estacoCheckGroup{{template.idTemplate}}"
                    id="estadoCheck{{template.idTemplate}}"
                    [value]=" template.Bad"
                    (change)="generateData(template.idTemplate,'Bad',$event.isTrusted, iP, iT  )">
              </div>
            </td>
            <td>
              <input type="text" (keyup)="notes(iP, iT, template.Notes)"  class="form-control" [(ngModel)]="template.Notes" >
            </td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>

  <!-- Boton para realizar inspección -->
  <div class="row mt-3 mb-5">
    <div class="col-md-12">
      <button class="btn btn-orange" (click)="inspect()"> Realizar Inspección </button>
    </div>
  </div>

</div>

