.container-fluid {
    background-image: url('/assets/images/login.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    margin-top: 0px;
}

#content {
    width: 100%;
    min-height: calc(100vh);
    transition: all 0.3s;
    top: 0;
    right: 0;
    overflow: hidden;
}