<div class="content__login">
	<img class="wave" src="../../../assets/utils/img/wave.png">
	<div class="containeer">
		<div class="img">
			<img src="../../../assets/utils/img/logoLogin.png">
		</div>
		<div class="login-content">
        <form (ngSubmit)="onSubmit()" [class]="(error) ? 'needs-validation was-validated' : '' " novalidate>
				<h2 class="title mb-5">Recuperar contraseña</h2>
                <div class="form-floating ">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required />
                    <div class="invalid-feedback">
                        Correo necesario
                     </div> 
                    <label for="floatingInput">Ingresa tu correo</label>
                </div>
                <a [routerLink]="'/login'">Iniciar Sesión</a>
                <button type="submit" [disabled]="btnEnviar.loading" [innerHTML]="btnEnviar.text" class="btn btn-info mt-2" >Enviar</button>
            </form>
        </div>
    </div>
</div>
