<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="general-tab" data-toggle="tab" [routerLink]="['/analitica/activityDay']" routerLinkActive="active">

                        {{"ACTIVIDAD_DIA" | translate}}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="analitica-tab" data-toggle="tab" [routerLink]="['/analitica/rendimiento']" routerLinkActive="active">
                        {{"RENDIMIENTO" | translate}}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="heatmap-tab" data-toggle="tab"  [routerLink]="['/analitica/heatMap']" routerLinkActive="active">
                        {{"MAPA_CALOR" | translate}}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="notifications-tab" data-toggle="tab"  [routerLink]="['/analitica/notifications']" routerLinkActive="active">
                        {{"NOTIFICACIONES" | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
