.cardHoras {
    background-color: #d32f2f;
    color: white;
}

.cardKm {
    background-color: #ffa726;
    color: white;
}

.cardLitros {
    background-color: #8d6e63;
    color: white;
}

.cardRendimiento {
    background-color: #0097a7;
    color: white;
}