<div class="row mt-3">
  <div class="col-md-12 text-center">
    <h5>Id de dispositivo</h5>
    <p>{{infoDevice2.Device}}</p>
  </div>
</div>
 <div class="row">
   <div class="col-md-6 text-center">
      <h5>Tipo de dispositivo</h5>
      <p>{{ infoDevice2.DescriptionType | notext }}</p>
      <h5>Modelo</h5>
      <p>{{ infoDevice2.Model | notext }}</p>
      <h5>Red</h5>
      <p>{{ infoDevice2.DescriptionCommunicationMethod | notext }}</p>
    </div>
    <div class="col-md-6 text-center">
      <h5>Duración de bateria</h5>
      <p>{{ infoDevice2.BatteryDuration | notext }}</p>
      <h5>Rendimiento</h5>
      <p>{{ infoDevice2.Performance | notext }}</p>
      <h5>Tiempo de comunicación</h5>
      <p>{{ infoDevice2.DescriptionSamplingTime | notext }}</p>
   </div>
 </div>
